body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    --progress-bar-color: transparent;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .uslogo{
   width: 100px;
    position:absolute;
    top:100px;
    left:100px;
  }

  .hero-section {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #121212;
  }

  .circle {
    position: absolute;
    bottom:-50px;
    left:100px;
    width: 1200px;
    height: 1200px;
    background: linear-gradient(142.16deg, #D43939 51.7%, #BC0089 76.15%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(90px);
  }

  .overlay-content {
    max-width:80%;
    position: absolute;
    bottom: 300px;
    left: 80px;
    color: #E5E5E5;
    z-index: 1;
  }

  .overlay-content h1 {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 600;
  font-size: 6.5rem;
  line-height: 6.5rem;
  }

  /* This is the CSS for the 3d components inside the hero */
    
  model-viewer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }